body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
.name {
    width: 200px;   
    min-width: 100px;
    height: 300px;  
    min-height: 25px;  
    resize: none;    
    border: solid;
    margin-left: 50%;
}
.input {
     width: 400px;
     min-width: 100px;
     height: 100px;
     min-height: 25px;     
     border: solid;
     margin-right: 25%;
}
.output {
    width: 500px;
    min-width: 100px;
    height: 200px;
    min-height: 25px;
    resize: none;
    border: solid;
    margin-right: 25%;
}
.submit {
    width: 100px;
    height: 100px;
    margin-left: 45%;
}